figure.trends{

  span.weeks{
    position:  relative; 
    margin-left:  100px;
    float:left;
    .boxSizing;
    h4{
      float:left;
      display: inline-block;
      margin-left:5px;
      margin-right:5px;
      color: rgb(51, 55, 53);
      font-weight: 300;
    }
  }
    
}