<section class="dashboard" ng-controller="dashboardController">
  <header>
    <article class="profile">
      <figure class="balance">10.00<b>&euro;</b></figure>
      <img src="/assets/images/profileImg.jpg" />
      <figure class="points">340 <b>pnts.</b>
      </figure>
      <div class="achievments">
        <img src="/assets/images/vectors/badge.svg" alt="">
        <img src="/assets/images/vectors/week.svg" alt="">
        <img src="/assets/images/vectors/month.svg" alt="">
        <img src="/assets/images/vectors/return.svg" alt="">
      </div>
    </article>
  </header>

  <article class="dashboardContent" ng-class="{show:isReady}">
    <figure class="logbook">
      <h1><i class="fa fa-book"></i>Logbook</h1>
      <div>
        <span class="measure good">100 </br><span>mg. per dl</span></span>
        <span class="affected">
          <p><b>+ 250</b> points</p>
          <p><b>- 0.50</b>&euro;</p>
        </span>
        <span class="timestamp">
          <p><i class="fa fa-calendar"></i> November, 5th 2014 </br> <i class="fa fa-clock-o"></i> 10:50pm</p>
        </span>
      </div>      

      <div>
        <span class="measure okay">58 </br><span>mg. per dl</span></span>
        <span class="affected">
          <p>+ 50 points</p>
          <p>- 0.40&euro;</p>
        </span>
        <span class="timestamp">
          <p><i class="fa fa-calendar"></i> November, 5th 2014 </br> <i class="fa fa-clock-o"></i> 10:50pm</p>
        </span>
      </div>      

      <div>
        <span class="measure bad">10 </br><span>mg. per dl</span></span>
        <span class="affected">
          <p>+ 150 points</p>
          <p>- 2.50&euro;</p>
        </span>
        <span class="timestamp">
          <p><i class="fa fa-calendar"></i> November, 5th 2014 </br> <i class="fa fa-clock-o"></i> 10:50pm</p>
        </span>
      </div>      

    </figure>


    <figure class="trends"><h1><i class="fa fa-bar-chart-o"></i>Trends</h1>
      <span class="weeks">
        <h4>MON</h4>
        <h4>TUE</h4>
        <h4>WED</h4>
        <h4>THU</h4>
        <h4>FRI</h4>
        <h4>SAT</h4>
        <h4>SUN</h4>
      </span>
      
      <div>
        <span class="week"><b>W 28</b> 
          <span class="good">100</span>
          <span class="okay"></span>
          <span class="good">20</span>
          <span class="bad"></span>
          <span class="bad"></span>
          <span class="okay"></span>
          <span class="good"></span>
        </span>
        <span class="week"><b>W 27</b> 
          <span class="bad"></span>
          <span class="good"></span>
          <span class="good"></span>
          <span class="bad"></span>
          <span class="okay"></span>
          <span class="okay"></span>
          <span class="bad"></span>
        </span>
        <span class="week"><b>W 26</b> 
          <span class="okay"></span>
          <span class="okay"></span>
          <span class="bad"></span>
          <span class="good"></span>
          <span class="okay"></span>
          <span class="okay"></span>
          <span class="bad"></span>
        </span>
        <span class="week"><b>W 25</b> 
          <span class="okay"></span>
          <span class="bad"></span>
          <span class="bad"></span>
          <span class="bad"></span>
          <span class="bad"></span>
          <span class="okay"></span>
          <span class="good"></span>
        </span>

      </div>      

    </figure>

    <figure class="ladder"><h1><i class="fa fa-star"></i>Ladder</h1></figure>
  </article>
</section>

