<section class="dashboard" ng-controller="dashboardController">
  <header>
    <article class="profile">
      <figure class="balance">10.00<b>&euro;</b></figure>
      <img src="/assets/images/profileImg.jpg" />
      <figure class="points">340</figure>
    </article>
  </header>

  <article class="dashboardContent">
    <figure class="logbook">
      <h1><i class="fa fa-book"></i>Logbook</h1>
      <div>
        <span class="measure good">100</span>
        <span class="affected">
          <p><b>+ 250</b> points</p>
          <p><b>- 0.50</b>&euro;</p>
        </span>
        <span class="timestamp">
          <p></p>
        </span>
      </div>      

      <div>
        <span class="measure okay">80</span>
        <span class="affected">
          <p>+ 50 points</p>
          <p>- 0.40&euro;</p>
        </span>
      </div>      

      <div>
        <span class="measure bad">10</span>
        <span class="affected">
          <p>+ 150 points</p>
          <p>- 2.50&euro;</p>
        </span>
      </div>      

      <div>
      </div>
    </figure>
    <figure class="ladder"><h1><i class="fa fa-star"></i>Ladder</h1></figure>
    <figure class="statistics"><h1><i class="fa fa-bar-chart-o"></i>Trends</h1></figure>
  </article>
</section>

