<section class="login" ng-controller="loginController">
  <span ng-hide="true" id="paypalLogin"></span>
  <header>
    <h1>Sugar<b>Hack</b></h1>
  </header>
  <article>
    <h2>Syncronize, control and discipline your diabetic life. Simply plug in your <b>USB glucose meter</b> and track your levels. Earn points as you do better. Use paypal to keep your glucose levels in check. Simply sign in below to get started.</h2>
    <a ng-click="login()"><i class="fa fa-sign-in"></i>Login with PayPal</a>
  </article>
</section>